card
    background backgroundx2
    border-top 2px solid ignorable3
    border-left 2px solid ignorable3
    border-right 2px solid ignorable1
    border-bottom 2px solid ignorable1
    display block
  
&.transactions
    width 292px
    margin-top 8px
    height calc(100vh - 50px)
    overflow scroll
    
&.value-graph
    position absolute
    left 312px
    top 36px
    width calc(100% - 324px)
    height calc(50vh - 32px) 
    overflow hidden
    
&.trades-graph
    position absolute
    left 312px
    top calc(50vh + 18px)
    height calc(50vh - 32px) 
    width calc(100% - 324px)
