transaction
    display block
    height 24px
    width 292px
    position relative

    words
        &.time 
            top 4px
            left 4px
            position absolute

        &.btc
            position absolute
            left 100px
            top 4px
            
        &.usd
            position absolute
            left 189px
            top 4px
        
        &.yellow
            color importantText
            
        &.red
            color critical
        


.odd
    background background