words
    font-family hfnss
    color pointColor
    -webkit-font-smoothing none
    font-smooth never
    display block
    font-size 2em
    height 20px
    line-height -moz-block-height
    -moz-osx-font-smoothing grayscale


.big
    font-size 4em
    
.y-axis
    color importantText
    -ms-transform rotate(90deg) /* IE 9 */
    -webkit-transform rotate(90deg) /* Chrome, Safari, Opera */
    transform rotate(90deg)
    position absolute
    left -10px
    top 140px
    background background

    
    &.trades
        left -25px
    
    
.y-axis-level
    color importantText
    position absolute
    right 25px
    background background
    
.x-axis
    position absolute
    bottom 0
    left 140px
    color importantText
    background background

    
.since-init
    display inline
    float right
    margin-top -20px
    
.title
    width 50%